function Main.main 1
push constant 42
call LCGRandom.setSeed 1
pop temp 0
call DoodleJump.new 0
pop local 0
push local 0
call DoodleJump.run 1
pop temp 0
push local 0
call DoodleJump.dispose 1
pop temp 0
push constant 0
return
